/* Estilo para a imagem */
.imagem-escondida {
  /* Propriedades para centralizar */
  display: none;      /* Continua escondida por padrão */
  display: block;     /* Trata a imagem como um bloco */
  margin-left: auto;  /* Margem esquerda automática */
  margin-right: auto; /* Margem direita automática */

  /* Propriedades para o tamanho e visual */
  max-width: 400px;   /* Define a largura máxima em 400px */
  margin-top: 20px;   /* Mantém o espaço acima */
  border-radius: 10px;/* Mantém as bordas arredondadas */
}